footer.footer
    p.footer_text Copyright © Company. All Rights Reserved  2016
    .icons_container
        a(href="#").icon_link
            i.icon-facebook
        a(href="#").icon_link
            i.icon-gplus
        a(href="#").icon_link
            i.icon-twitter
        a(href="#").icon_link
            i.icon-dribbble