include mixins/headerMixin
header.header.section#home
    .slider_wrapper
        .sliders_container
            +slider()
            +slider()
            +slider()
        .arrows_container
            .arrow_bg.arrow_left
                i.icon-right-open
            .arrow_bg.arrow_right
                i.icon-right-open
        .dots_container
            .dot
            .dot
            .dot