doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(content="width=1180" name="viewport" id="viewport")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title UPQODE
        link(rel="stylesheet" href="css/style.css")
    body
        .wrapper
            include navbar
            include header
            include products
            include aboutUs
            include contacts
            include footer
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRyxMr4kFVMYx51VGINCQQmctf5gyXVbM&extension=.js")
        script(src="js/main.js")