@font-face {
    font-family: Beyno;
    src: url(../fonts/BEYNO.ttf),  url(../fonts/BEYNO.eot)/*IE*/;
}
@font-face {
    font-family: LatoLight;
    src: url(../fonts/LatoLight.ttf),  url(../fonts/LatoLight.eot)/*IE*/;
}
@font-face {
    font-family: LatoBold;
    src: url(../fonts/LatoBold.ttf),  url(../fonts/LatoBold.eot)/*IE*/;
}
@font-face {
    font-family: LatoHeavy;
    src: url(../fonts/LatoHeavy.ttf),  url(../fonts/LatoHeavy.eot)/*IE*/;
}
@font-face {
    font-family: LatoRegular;
    src: url(../fonts/LatoRegular.ttf),  url(../fonts/LatoRegular.eot)/*IE*/;
}