mixin slider()
    .slide_block
        .container
            .row
                .col-lg-10.col-lg-offset-1.col-xs-12
                    h1.slider_header Creative #[span Design Agency]
            .row
                .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-xs-12
                    p.slider_text Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor.