mixin navbar (txt)
    li.menu_item
        i.demo-icon.icon-right-open
        a(href="#").menu_link= txt
        ul.submenu_item
            li.submenu_list
                i.demo-icon.icon-right-open #[a(href="#" class="submenu_link") Name Surname]
            li.submenu_list
                i.demo-icon.icon-right-open #[a(href="#" class="submenu_link") Nelson Noa Chris]
            li.submenu_list
                i.demo-icon.icon-right-open #[a(href="#" class="submenu_link") Name Surname]
            li.submenu_list
                i.demo-icon.icon-right-open #[a(href="#" class="submenu_link") Nelson Noa]
            li.submenu_list
                i.demo-icon.icon-right-open #[a(href="#" class="submenu_link") Nelson Noa Chris]